
<h3>I'm in the app Component</h3>
<hr>
<!-- <app-servers></app-servers> -->
<div class="app-servers"></div>
<hr>
<app-warning-alert></app-warning-alert>
<app-success-alert></app-success-alert>
<hr>
<label>Username</label>
<input type="text" class="form-control" [(ngModel)]="username">
<button (click)="username = ''" [disabled]="username === ''">Delete username</button>
<p>{{ username }}</p>
<hr>
<!-- <button (click)="displayed = !displayed">Display Details</button> -->
<button (click)="onToggleDetails()">Display Details</button>
<p *ngIf="displayed">Sercret password = tuna</p>
<div *ngFor="let logItem of log" [ngStyle]="{backgroundColor: logItem >= 5 ? 'blue' : ''}"
    [ngClass]="{'white-text': logItem >= 5}">{{ logItem }}
</div>